<form>
  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <ul class="nav nav-pills nav-justified">
        <li id="save"><a href="#">Save</a></li>
      </ul>
      <br>
    </div>
  </div>
  <div class="row">
    <input name="tags" type="text" class="form-control" placeholder="Tags" value="<% _.each( tags, function( keyobj ) { %><% if (keyobj.tag) { %><%= keyobj.tag %>,<% } %><% } ); %>">
    <hr>
  </div>    
  <div class="row">
    <div class="lead text-center">
      <input name="title" type="text" class="form-control" placeholder="Title" value="<%= title %>">
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="panel-body" id="summary">
      <div><%= summary %></div>
    </div>  
  </div>
</form>